body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
    padding: 40px;
    max-width: 900px;
    margin: auto;
    line-height: 1.5;
}

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(93, 54, 4);;  /* header color */
    color: white;
    padding: 20px;
    border-radius: 8px;
}


h1 {
    font-size: 32px;
}

p {
    color: #555;
}

div {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: #0066cc;
}
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin-bottom: 10px;
}
.project-card {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

